<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madeni_project">

    <application>
        <activity
            android:name="com.example.madeni_project.Register"
            android:exported="false" />
        <activity
            android:name="com.example.madeni_project.Login"
            android:exported="false" />
    </application>

</manifest>